*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}


/* .header-slider{
    background: url(../img/Slider.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
} */
.carousel-text{
    position: absolute;
    width: 613px;
    height: 120px;
    left: 258px;
    top: 436px;
    z-index: 1;
}
.carousel-text h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 60px
}
.carousel-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
}
  

@media (max-width: 769px){
    .carousel-text{
        display: visible;
        left: 80px;
        top: 80px;
        width: 100%;
        height: 100%;
    }
    .carousel-text h2{
        font-size: 30px;
        line-height: 30px;
        width: 80%;
        font-weight: 800;
    }
    .carousel-text p{
        font-size: 13px;
        line-height: 15px;
        padding-top: 10px;
    }
    #header .contact, .social-link {
        display: none!important;
    }
}    
@media (max-width:426px){
    #footer-top{
        font-size: 12px;
    }
    #footer-top .footer-mail{
        width: 20px;
        padding-left: 0!important;
    }
    #footer-top .footer-phone{
      display: none;
    }
    
}
.others h4{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.about-us p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    opacity: 0.7;
}
@media (max-width:769px) {
    .icon-right{
        padding: 0 10px!important;
    }
    .icon-left{
        padding: 0 10px!important;
    }
    .icon-left .d-flex{
        flex-direction: column;
    }
}
.what-we-do {
    background: linear-gradient( rgba(200, 200, 200, 0.2) 4.92%, rgba(200, 200, 200, 0.2) 46.85%), url(../img/home-bg.png);
    background-position: center;
    background-size: cover;
}
.what-we-do .we-do{
    margin-top: 100px;
}
.what-we-do .border-active{
    background:#fff !important;
    border: none!important;
    padding: 10px!important;
    box-shadow: 0px -35px 10px rgba(0, 0, 0, 0.15)!important;
    height: 176.97px;
}
.what-we-do .border{
    background: none!important;
    border: none!important;
    padding: 10px!important;
    height: 176.97px;
}
.what-we-do .icon-box-text {
    padding-top: 20px;
}
.what-we-do .icons{
    margin-top: 150px;
}
#filling .text-center img{
    width: 95%;
}
.border-filling{
    background: #FAFAFA;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 4px 0px #DBBD02;
    padding: 20px;
}

.underline{
    text-decoration: underline;
    text-decoration-color:  #FCD900;
    text-decoration-thickness: 5px;
}
.journey img{
    width: 100%;
}
.journey a{
    color: #000;
    text-decoration: none;
}
.news-from-crosson {
    background: linear-gradient(rgba(252, 252, 252, 0.678), rgba(255, 247, 247, 0.9)), url(../img/Home-Background-2.png);
    background-position: right;
    background-size: cover;
}

#footer-top {
    background: url(../img/Home-Background-3.png);
    background-position: center;
    background-size: cover;
}
#footer-top a {
    text-decoration: none;
    color: #000;
}

@media (max-width:769px) {
    #footer-top .links .d-flex{
        flex-direction: column;
    }  
    #footer-top .text-center .career {
        padding-left: 0!important;
    }
    .footer-bottom .d-flex, .text-end{
        flex-direction: column;
        text-align: center!important;
    }
}
